<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LMP</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css">
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="row">
        <h1 class="text-center">Make a Query</h1>
        <div class="col-md-6 offset-md-3">
            <form action="/api/data" method="GET" enctype="multipart/form-data">
                <div class="mb-3">
                    <label class="form-label" for="pnode">Node Name</label>
                    <input class="form-control" type="text" id="pnode" name="pname">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="scenario">Scenario ID</label>
                    <input class="form-control" type="text" id="scenario" name="scenario">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="start">Start Time</label>
                    <input class="form-control" type="text" id="start" name="start">
                </div>
                <div class="mb-3">
                    <label class="form-label" for="end">End Time</label>
                    <input class="form-control" type="text" id="end" name="end">
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Query</button>
                </div>
            </form>
        </div>
    </div>

</body>

</html>